<div id="comment-<%= comment.id %>">
  <% if comment.pending? %>
    <em>This comment is awaiting approval</em>
  <% end %>
  <% if comment.user %>
    <div class="clearfix">
      <div class="col-sm-2 pull-right">
        <div class="list-group">
          <%= link_to image_tag(comment.user.avatar_photo_url(:medium), :alt => comment.user.login, :class => "img-responsive"), user_path(comment.user), :rel => 'bookmark', :title => :users_profile.l(:user => comment.user.login), :class => 'list-group-item' %>
          <a class="list-group-item" href="<%= user_path(comment.user) %>">
            <%= fa_icon "hand-o-right fw", :text => comment.user.login %>
          </a>
          <a class="list-group-item" href="<%= commentable_url(comment) %>" rel="bookmark">
            <%= fa_icon "calendar" %>
            <abbr class="published" title="<%= comment.created_at %>">
              <%= I18n.l(comment.created_at, :format => :short_literal_date) %>
            </abbr>
          </a>
          <% if logged_in? && (current_user.admin? || current_user.moderator?) %>
            <%= link_to fa_icon("pencil-square-o fw", :text => :edit.l), edit_commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :class => 'edit-via-ajax list-group-item' %>
          <% end %>
          <% if ( comment.can_be_deleted_by(current_user) ) %>
            <div class="delete">
              <%= link_to fa_icon("trash-o fw", :text => :delete.l), commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :method => :delete, 'data-confirm' => :are_you_sure_you_want_to_permanently_delete_this_comment.l, :remote => true, :class => "list-group-item" %>
            </div>
          <% end %>
        </div>
      </div>
      <%= comment.comment.html_safe %>
    </div>
  <% else %>
    <div class="clearfix">
      <div class="col-sm-3 pull-right">
        <div class="list-group">
          <a class="photo list-group-item" href="#" onclick="return false;" rel="bookmark">
            <%= image_tag(configatron.photo.missing_thumb, :height => '50', :width => '50', :class => "img-responsive") %>
          </a>
          <div class="list-group-item">
            <% if comment.author_url.blank? %>
              <%= h comment.username %>
            <% else %>
              <%= link_to fa_icon('hand-o-right', :text => h(comment.username)), h(comment.author_url) %>
            <% end %>
          </div>
          <a class="list-group-item" href="<%= commentable_url(comment) %>" rel="bookmark">
            <%= fa_icon "calendar fw" %>
            <abbr class="published" title="<%= comment.created_at %>">
              <%= I18n.l(comment.created_at, :format => :short_literal_date) %>
            </abbr>
          </a>
          <% if logged_in? && (current_user.admin? || current_user.moderator?) %>
            <%= link_to fa_icon("pencil-square-o fw", :text => :edit.l), edit_commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :class => 'edit-via-ajax list-group-item' %>
          <% end %>
          <% if ( comment.can_be_deleted_by(current_user) ) %>
            <%= link_to fa_icon("trash-o fw", :text => :delete.l), commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :method => :delete, 'data-confirm' => :are_you_sure_you_want_to_permanently_delete_this_comment.l, :remote => true, :class => "list-group-item" %>
          <% end %>
        </div>
      </div>
      <%= comment.comment.html_safe %>
    </div>
  <% end %>
  <hr/>
</div>
