<% has_voted = logged_in? && poll.voted?(current_user) %>
<div class="clearfix">
  <h2>
    <%= poll.question %>
    <small>
      <%= :total_votes.l %>
      <span class="badge badge-info">
        <%= poll.votes.size %>
      </span>
    </small>
  </h2>
  <table class="table poll">
    <% poll.choices.each do |choice|      %>
      <tr>
        <% if @is_current_user || has_voted %>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-success" style="width:<%= choice.votes_percentage %>%">
                <%= choice.votes_percentage %>
                \%
              </div>
            </div>
          </td>
        <% else %>
          <td>
            <% if logged_in? && !has_voted %>
              <%= link_to :vote.l, votes_path(:choice_id => choice), :method => :post, :class => 'act-via-ajax' %>
            <% elsif !logged_in? %>
              <%= link_to :vote.l, new_vote_path(:post_id => poll.post.id), {:title => :log_in_to_vote.l, :class => 'vote'} %>
            <% end %>
          </td>
        <% end %>
        <td>
          <%= choice.description %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if !has_voted %>
    <p>
      <%= :you_must_vote_to_see_the_results.l %>
    </p>
  <% elsif logged_in? %>
    <p>
      <%= :you_have_already_voted.l %>
    </p>
  <% end %>
</div>
