<% @page_title=@ad.name %>
<p>
  <%= link_to :back.l, ads_path, :class => 'btn btn-default' %>
  <%= link_to :edit.l, edit_ad_path(@ad), :class => 'btn btn-warning' %>
  <%= link_to :destroy.l, ad_path(@ad), data: { confirm: :are_you_sure.l }, :method => :delete, :class => 'btn btn-danger' %>
</p>
<dl class="dl-horizontal">
  <dt>
    <%= :name.l %>
  </dt>
  <dd>
    <%= h @ad.name %>
  </dd>
  <dt>
    <%= :html.l %>
  </dt>
  <dd>
    <%= raw @ad.html %>
  </dd>
  <dt>
    <%= :frequency.l %>
  </dt>
  <dd>
    <%= h @ad.frequency %>
  </dd>
  <dt>
    <%= :published.l %>
  </dt>
  <dd>
    <%= @ad.published? %>
  </dd>
  <dt>
    <%= :run.l %>
  </dt>
  <dd>
    <%= h @ad.time_constrained? ? "#{@ad.start_date.to_formatted_s(:long)} - #{@ad.end_date.to_formatted_s(:long)}" : 'n/a' %>
  </dd>
  <dt>
    <%= :location.l %>
  </dt>
  <dd>
    <%= h @ad.location %>
  </dd>
</dl>
