<% @page_title = configatron.community_name + ' ' + :home.l %>
<% @meta = { :description => configatron.meta_description, :keywords => configatron.meta_keywords, :robots => configatron.robots_meta_list_content } %>
<% unless logged_in? %>
  <%= render :partial => 'base/homepage_banner_message' %>
<% end %>
<% box :class => "hfeed" do  %>
  <h2>
    <%= :recent_posts.l %>
  </h2>
  <%= render :partial => 'posts/post', :collection => @posts %>
  <%= link_to fa_icon('plus-circle', :text => :see_all_recent_posts.l), recent_path %>
<% end %>
<%= render :partial => 'shared/explore' %>
<% widget do %>
  <h4>
    <div class="small">
      <%= :whats_hot.l %>
    </div>
  </h4>
  <ul class="list-unstyled">
    <% @popular_posts.each do |post| %>
      <%= render :partial => 'posts/sidebar_post', :locals => {:post => post} %>
    <% end %>
  </ul>
  <%= link_to fa_icon('plus-circle', :text => :see_all.l), popular_url %>
<% end %>
<% widget do %>
  <h4>
    <div class="small">
      <%= :featured_writer.l %>
    </div>
  </h4>
  <% @featured_writers.each do |user| %>
    <%= render :partial => "users/sidebar_user", :locals => {:user => user} %>
  <% end %>
<% end %>
<% widget do %>
  <h4>
    <div class="small">
      <%= :active_users.l %>
    </div>
  </h4>
  <% @active_users.each do |user| %>
    <%= render :partial => "users/sidebar_user", :locals => {:user => user} %>
  <% end %>
<% end %>
