<% @page_title= "#{configatron.community_name} Sitemap" %>
<% box do %>
  <h2>Categories</h2>
  <ul>
    <% @categories.each do |c| %>
      <li>
        <%= link_to c.name, category_path(c) %>
      </li>
    <% end %>
  </ul>
  <h2>
    <%= :pages.l %>
  </h2>
  <ul>
    <li>
      <%= link_to :home.l, '/' %>
    </li>
    <li>
      <%= link_to t('sitemaps.index.users'), users_path %>
    </li>
    <% Page.all.each do |page| %>
      <% if (logged_in? || page.page_public) %>
        <li>
          <%= link_to page.title, pages_path(page) %>
        </li>
      <% end %>
    <% end %>
    <li>
      <%= link_to :log_in.l, '/login' %>
    </li>
  </ul>
<% end %>
