<% widget do %>
  <h4>
    <div class="small">
      <%= :links.l %>
    </div>
  </h4>
  <p>
    <a href="<%= user_messages_path(@user) %>">
      <%= :inbox.l %>
      <% if @user.unread_messages? %>
        <span class="badge badge-success">
          <%= "#{@user.unread_message_count}" %>
          <%= fa_icon "envelope inverse" %>
        </span>
      <% end %>
    </a>
  </p>
  <p class="sent">
    <%= link_to :sent_messages.l, user_messages_path(@user, :mailbox => :sent) %>
  </p>
  <p class="compose">
    <%= link_to :compose.l, new_user_message_path(@user) %>
  </p>
<% end %>
