<% if @message_thread %>
  <% @page_title = @message_thread.parent_message.sender.login + ':' + @message_thread.parent_message.subject %>
<% else %>
  <% @page_title= @message.subject %>
<% end %>
<%= render :partial => 'messages/sidebar_nav' %>
<% unless @message_thread %>
  <div class="pull-right">
    <%= h I18n.l(@message.created_at, :format => :literal_date)             %>
  </div>
  <pre class="clear message_body">
    <%= auto_link @message.body       %>
  </pre>
<% else %>
  <div class="pull-right">
    <%= h I18n.l(@message_thread.parent_message.created_at, :format => :literal_date)                   %>
  </div>
  <pre class="clear message_body">
    <%= auto_link @message_thread.parent_message.body %>
  </pre>
  <% children = @message_thread.parent_message.children %>
  <% children.each do |child|       %>
    <div class="right">
      <%= h I18n.l(child.created_at, :format => :literal_date) %>
    </div>
    <em>
      <%= child.sender.login %>
      \:
    </em>
    <br/>
    <pre class="message_body">
      <%= auto_link child.body %>
    </pre>
    <br/>
  <% end %>
<% end %>
<% if @reply     %>
  <ul class="message_nav">
    <li class="sent">
      <%= link_to :reply.l, new_user_message_path(@user, :reply_to => @message), :onclick => "$('#reply').toggle(); $('#dummy_reply').toggle(); $('#message_body').focus(); $('.sent').toggle(); return false;" %>
    </li>
  </ul>
  <form class="MainForm" id="dummy_reply">
    <textarea onclick="$('#reply').toggle(); $('#message_body').focus(); $('#dummy_reply').hide(); $(this).blur(); $('.sent').toggle(); return false;" style="height: 75px;"></textarea>
  </form>
  <div id="reply" style="display:none;">
    <%= render :partial => 'form', :locals => {:message => @reply, :user => @user} %>
  </div>
<% end %>
