<% @page_title=:invite_your_friends_to_join.l %>
<script src="http://www.plaxo.com/css/m/js/util.js" type="text/javascript"></script>
<script src="http://www.plaxo.com/css/m/js/basic.js" type="text/javascript"></script>
<script src="http://www.plaxo.com/css/m/js/abc_launcher.js" type="text/javascript"></script>
<% widget do %>
  <h4>
    <div class="small">
      <%= :spread_the_word.l %>
    </div>
  </h4>
  <p>
    <%= :invite_message.l(:site => configatron.community_name) %>
  </p>
  <p>
    <%= :people_who_sign_up_using_your_invitation_will_automatically_be_added_as_your_friends.l %>
  </p>
<% end %>
<%= bootstrap_form_for :invitation, :url => user_invitations_path(:user_id => @user.id ), :layout => :horizontal do |f| %>
  <div class="pull-right">
    <a href="#" onclick="showPlaxoABChooser('invitation_email_addresses', '/base/plaxo'); return false;">
      <img alt="<%= :add_from_my_address_book.l %>" src="http://www.plaxo.com/images/abc/buttons/add_button.gif"/>
    </a>
  </div>
  <%= f.text_area :email_addresses , :rows => "5", :label => :enter_e_mail_addresses.l  %>
  <%= f.text_area :message, :rows => "5", :label => :write_a_message.l %>
  <%= f.primary :send_invitations.l %>
<% end %>
