<% @page_title=:resend_your_activation_e_mail.l %>
<%= render :partial => 'shared/login_sidebar' %>
<%= bootstrap_form_tag :url => resend_activation_url, :layout => :horizontal do %>
  <div class="form-group">
    <label class="control-label" for="email">
      <%= :enter_your_email_address.l %>
    </label>
    <%= text_field_tag 'email', nil %>
  </div>
  <%= submit_tag :resend_my_activation_e_mail.l, :class => 'btn btn-primary' %>
<% end %>
