<% box do %>
  <%= bootstrap_form_tag :url => statistics_user_path(@user), :layout => :horiztonal do %>
    <div class="form-group">
      <label class="control-label">
        <%= :month.l %>
      </label>
      <%= select_month(@month) %>
      <%= select_year(@month, :start_year => 1.years.ago.year, :end_year => 1.years.from_now.year) %>
    </div>
    <%= submit_tag :go.l, :class => 'btn btn-primary' %>
    <% if current_user.admin? %>
      <p>
        <%= link_to :back_to_all_statistics.l, statistics_path %>
      </p>
      <p>
        <%= :estimated_total_for_this_month.l+":" %>
        <strong>
          <%= "$#{@estimated_payment}" %>
        </strong>
      </p>
    <% end %>
    <table class="table table-bordered table-striped">
      <% @posts.group_by(&:category).each do |category, posts| %>
        <tr>
          <th>
            <%= "#{category.name}:" if category %>
            <%= "#{posts.size} "+:posts.l %>
          </th>
          <th>
            <%= :comments.l %>
          </th>
          <th>
            <%= :view.l.pluralize %>
          </th>
        </tr>
        <% posts.each do |post| %>
          <tr>
            <td>
              <%= post.title %>
            </td>
            <td>
              <%= post.comments.count %>
            </td>
            <td>
              <%= post.view_count %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  <% end %>
<% end %>
