<% @page_title=:new_photo.l %>
<% widget do  %>
  <h3>
    <%= :tips.l %>
  </h3>
  <p>
    <%= :photo_tip_1.l %>
  </p>
  <p>
    <%= :photo_tip_2.l %>
  </p>
<% end %>
<p>
  <%= link_to :back.l, user_photos_path(@user), :class => 'btn btn-default' %>
</p>
<%= render 'form' %>
