<% @page_title = :homepage_features.l %>
<%= render :partial => 'shared/admin_nav' %>
<table class="table table-bordered table-striped">
  <tr>
    <th>
      <%= :date_title.l %>
    </th>
    <th>
      <%= :title.l %>
    </th>
    <th>
      <%= :description.l %>
    </th>
    <th>
      <%= :image.l %>
    </th>
    <th>
      <%= :actions.l %>
    </th>
  </tr>
  <% for homepage_feature in @homepage_features %>
    <tr>
      <td>
        <%= h I18n.l(homepage_feature.created_at, :format => :short_published_date) %>
      </td>
      <td>
        <a href="<%= h homepage_feature.url %>">
          <%= h homepage_feature.title %>
        </a>
      </td>
      <td>
        <%= h truncate(homepage_feature.description, :length => 250).html_safe %>
      </td>
      <td>
        <%= image_tag homepage_feature.image.url(:thumb) %>
      </td>
      <td>
        <%= link_to :show.l, homepage_feature_path(homepage_feature), :class => 'btn btn-default' %>
        <%= link_to :edit.l, edit_homepage_feature_path(homepage_feature), :class => 'btn btn-warning' %>
        <%= link_to :delete.l, homepage_feature_path(homepage_feature), data: { confirm: :are_you_sure.l }, :method => :delete, :class => 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to :new_homepage_feature.l, new_homepage_feature_path, :class => 'btn btn-success' %>
