<div class="modal-dialog">
  <div class="modal-content">
    <%= form_tag send_to_friend_user_post_path(:user_id => params[:user_id], :id => params[:id]), :class => 'form form-horizontal submit-via-ajax', :id => 'send_to_friend_form' do %>
      <div class="modal-header">
        <button class="close" data-dismiss="modal" type="button">
          <span aria-hidden="<%= true %>">
            &times;
          </span>
          <span class="sr-only">
            Close
          </span>
        </button>
        <h3>
          <%= :send_this_story_to_friends.l %>
        </h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-sm-4 control-label">
            <%= :enter_a_message.l %>
          </label>
          <div class="col-sm-5">
            <%= text_area_tag :message, :this_story_is_awesome.l, :class => "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">
            <%= :enter_e_mail_addresses_comma_sep.l %>
          </label>
          <div class="col-sm-5">
            <%= text_area_tag :emails, '', :class => "form-control" %>
          </div>
          <div class="col-sm-3">
            <a href="#" onclick="showPlaxoABChooser('emails', '/base/plaxo'); return false;">
              <%= image_tag "http://www.plaxo.com/images/abc/buttons/add_button.gif", :alt => :add_from_my_address_book.l %>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= ajax_spinner_for 'send_to_friend_form' %>
        <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
        <%= submit_tag :send.l, :class => 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
