<% @page_title = :manage_posts.l %>
<% widget do %>
  <h3>
    <%= :search.l %>
  </h3>
  <%= bootstrap_form_for @search, :url => manage_user_posts_path(current_user), :html => {:class => "form"} do |f| %>
    <%= f.text_field :title_cont, :label => :title.l %>
    <%= f.select :category_id_eq, Category.all.collect{|c| [c.name, c.id]}, :include_blank => true, :label => :category.l %>
    <%= f.select :published_as_eq, [['Published','live'], ['Draft','draft']], :include_blank => true, :label => :status.l %>
    <div class="form-group">
      <label class="control-label">
        <%= :show.l %>
      </label>
      <%= select_tag :size, options_for_select([['10',10], ['20',20], ['100',100]], params[:size].to_i ) %>
    </div>
    <%= f.primary :search.l %>
  <% end %>
<% end %>
<p>
  <%= :posts_saved_with_draft_status_wont_appear_in_your_blog_until_you_publish_them.l %>
</p>
<table class="table table-bordered table-striped">
  <tr>
    <th>
      <%= sort_link @search, :created_at, :date_created.l %>
    </th>
    <th>
      <%= sort_link @search, :published_at, :date_published.l %>
    </th>
    <th>
      <%= :title.l %>
    </th>
    <th>
      <%= :category.l %>
    </th>
    <th>
      <%= :tags.l %>
    </th>
    <th>
      <%= :comments.l %>
    </th>
    <th>
      <%= :status.l %>
    </th>
    <th>
      <%= :actions.l %>
    </th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <abbr title="<%= post.created_at %>">
          <%= I18n.l(post.created_at, :format => :published_date) %>
        </abbr>
      </td>
      <td>
        <abbr title="<%= post.published_at %>">
          <%= post.published_at_display %>
        </abbr>
      </td>
      <td>
        <%= link_to post.title, user_post_path(post.user, post) %>
      </td>
      <td>
        <%= post.category ? post.category.name : :uncategorized.l %>
      </td>
      <td>
        <%= post.tags.any? ? post.tag_list : :no_tags.l %>
      </td>
      <td>
        <%= post.comments.count %>
      </td>
      <td>
        <%= post.is_live? ? link_to(:published.l, user_post_path(post.user, post)) : :draft.l %>
      </td>
      <td>
        <%= link_to :show.l, user_post_path(post.user, post), :class => 'btn btn-default' %>
        <%= link_to :edit.l, edit_user_post_path(post.user, post), :class => 'btn btn-warning' %>
        <%= link_to :delete.l, user_post_path(post.user, post), :method => 'delete', data: { confirm: :are_you_sure.l }, :class => 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @posts, :theme => 'bootstrap' %>
<p>
  <%= link_to :new_post.l, new_user_post_path(current_user), :class => 'btn btn-success' %>
</p>
