<script src="http://www.plaxo.com/css/m/js/util.js" type="text/javascript"></script>
<script src="http://www.plaxo.com/css/m/js/basic.js" type="text/javascript"></script>
<script src="http://www.plaxo.com/css/m/js/abc_launcher.js" type="text/javascript"></script>
<% @section = (@post.category && @post.category.name) %>
<% @meta = { :title => "#{@post.title}", :description => "#{truncate_words(@post.post, 75, '...' )}", :keywords => "#{@post.tags.join(", ") unless @post.tags.nil?}", :robots => configatron.robots_meta_show_content } %>
<div aria-hidden="true" aria-labelledby="send_to_friend_label" class="modal fade" id="send_to_friend" role="dialog" style="padding-top: 60px;" tabindex="-1"></div>
<%= render :partial => 'author_profile', :locals => {:user => @user} %>
<% unless @related.empty? %>
  <% widget do %>
    <h4>
      <div class="small">
        <%= :related_posts.l %>
      </div>
    </h4>
    <ul class="list-unstyled">
      <% @related.each do |post| %>
        <li>
          <%= link_to truncate(post.title, :length => 75), user_post_path(post.user, post) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<% unless @popular_posts.empty? %>
  <% widget do %>
    <h4>
      <div class="small">
        <%= :popular_posts.l %>
      </div>
    </h4>
    <ul class="list-unstyled">
      <% @popular_posts.each do |post| %>
        <li>
          <%= link_to truncate(post.title, :length => 75), user_post_path(post.user, post) %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<h2>
  <%= :users_blog.l :user=>  @user.login %>
</h2>
<div class="clearfix">
  <div class="pull-right col-sm-3">
    <div class="list-group">
      <a class="list-group-item" href="<%= user_post_path(@user, @post) %>" rel="bookmark">
        <%= fa_icon "calendar fw" %>
        <abbr class="published" title="<%= @post.published_at %>">
          <%= @post.published_at_display(:literal_date) %>
        </abbr>
      </a>
      <li class="list-group-item">
        <%= fa_icon "eye fw", :text => :view_count.l %>
        <span class="badge">
          <%= @post.view_count %>
        </span>
      </li>
      <a class="list-group-item" href="<%= user_post_path(@user, @post) %>" name="comments">
        <%= fa_icon "comment fw", :text => :comments.l %>
        <span class="badge badge-info">
          <%= @post.comments.count %>
        </span>
      </a>
      <% if current_user and current_user.can_request_friendship_with(@post.user) %>
        <li class="list-group-item">
          <%= add_friend_link(@post.user) %>
        </li>
      <% end %>
      <a class="list-group-item" href="#" onclick="window.print(); return false;" title="<%= :print_this_story.l %>">
        <%= fa_icon "print fw", :text => :print.l %>
      </a>
      <a class="email list-group-item" href="#" title="<%= :email_this_story_to_friends.l %>">
        <%= fa_icon "envelope fw", :text => :email_to_friends.l %>
      </a>
      <li class="list-group-item">
        <script src="http://w.sharethis.com/widget/?tabs=web&amp;charset=utf-8&amp;style=default&amp;publisher=4488bdef-d776-4c80-93e1-ac1fb8359971&amp;linkfg=%23131358&amp;button=false" type="text/javascript"></script>
        <%= sharethis_options(@post) %>
      </li>
      <% if @is_current_user || admin? || moderator? %>
        <a class="list-group-item" href="<%= edit_user_post_path(@post.user, @post) %>">
          <%= fa_icon "pencil-square-o fw", :text => :edit.l %>
        </a>
        <%= link_to fa_icon("trash-o fw", :text => :delete.l), user_post_path(@post.user, @post), {:method => :delete, data: { confirm: :permanently_delete_this_post.l }, :class => "list-group-item"} %>
      <% end %>
    </div>
  </div>
  <%= @post.post.html_safe %>
</div>
<!-- clearfix
-->
<%= render :partial => 'polls/poll_ui', :locals => {:poll => @post.polls.first} unless @post.polls.empty? %>
<% unless @post.tags.empty? %>
  <div class="clearfix">
    <ul class="list-unstyled">
      <% @post.tags.each do |t| %>
        <li>
          <a class="label label-info" href="<%= tag_url(t) %>" rel="tag">
            <%= fa_icon "tag inverse", :text => t.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<h2>
  <%= :post_comments.l %>
</h2>
<h3>
  <%= :add_your_comment.l %>
</h3>
<%= render :partial => 'comments/comment_form', :locals => {:commentable => @post} %>
<a id="newest_comment"></a>
<%= render :partial => 'comments/comment', :collection => @comments %>
<span id="more_comments_links">
  <%= more_comments_links(@post) %>
</span>
<% content_for :end_javascript do %>
  <script>
    
    $('.email').on('click', function(e){
      e.preventDefault();
      $.post("#{send_to_friend_user_post_path(:user_id => @user.id, :id => @post.id)}", function(response){
        $('#send_to_friend').html(response);
      });
      $('#send_to_friend').modal();
    });

  </script>
<% end %>
