<html>
  <head>
    <%= csrf_meta_tag   %>
    <title>
      <%= configatron.community_name %>
      \- 
      <%= :new_clipping.l %>
    </title>
    <%= javascript_include_tag 'community_engine' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'layout' %>
  </head>
  <body>
    <div class="jumbotron">
      <h1>
        <%= :create_a_clipping.l %>
      </h1>
      <p>
        <%= :click_on_an_image_below_to_clip_it.l %>
      </p>
    </div>
    <ul class="thumbnails" id="clipping_image_list">
      <%= image_tag 'spinner.gif', :plugin => "community_engine" %>
      <%= :loading_images.l %>
      <script type="text/javascript">
        <%= "$('#clipping_image_list').html($.post('#{load_images_from_uri_path(:uri => params[:uri]).html_safe}'));" %>
      </script>
    </ul>
    <%= link_to :cancel_and_go_back_to.l + ' ' + @clipping.url, params[:uri], :class => 'btn btn-xs btn-primary' %>
    <div aria-hidden="true" aria-labelledby="send_to_friend_label" class="modal fade" id="lightbox" role="dialog" style="padding-top: 60px;" tabindex="-1">
      <%= bootstrap_form_for(:clipping, :url => user_clippings_path(@user), :layout => :horizontal) do |f| %>
        <%= f.text_field :url %>
        <img id="clipping_preview" src="<%= nil %>" style="float:right" width="100px"/>
        <%= f.text_field :image_url %>
        <%= f.text_field :tag_list, {:help => :optional_keywords_describing_this_clipping_separated_by_commas.l, :autocomplete => "off",:id => 'clipping_tag_list'} %>
        <%= tag_auto_complete_field 'clipping_tag_list', {:url => {:controller => "tags", :action => 'auto_complete_for_tag_name'}, :tokens => [','] } %>
        <%= f.text_field :description %>
        <%= f.primary :create.l %>
      <% end %>
    </div>
  </body>
  <script>
    
    $("#clipping_image_list img").on('click', function(){
      $('#clipping_image_url').val($(this).attr('src'));
      $('#clipping_preview').attr('src', $(this).attr('src'));
      $('#lightbox').modal();
    });


  </script>
</html>
