<% # .navbar-toggle is used as the toggle for when the responsive design gets narrow and the navbar goes away %>
<div class="navbar-header">
  <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to configatron.community_name, home_path, :class => 'navbar-brand' %>
</div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <%= render 'categories/menu_item' %>
    <%= render 'clippings/menu_item' %>
    <%= render 'events/menu_item' %>
    <%= render 'forums/menu_item' %>
    <%= render 'posts/menu_item' %>
    <%= render 'users/menu_item' %>
    <% if @header_tabs.any? %>
      <% for tab in @header_tabs %>
        <li>
          <%= link_to tab.name, tab.url %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <%= render 'messages/menu_item' %>
    <%= render 'sessions/menu_item' %>
  </ul>
</div>
