<% @page_title = 'Comments' %>
<%= render :partial => 'shared/admin_nav' %>
<%= bootstrap_form_for @search, :url => admin_comments_path, :layout => :horizontal do |f| %>
  <h2>
    <%= :search.l %>
  </h2>
  <%= f.text_field :author_email_or_user_email_cont, :label => :email.l %>
  <%= f.form_group :submit_group  do %>
    <%= f.primary :search.l %>
  <% end %>
<% end %>
<%= bootstrap_form_tag :url => delete_selected_comments_path, :method => :delete, :id => 'comments' do %>
  <table class="table table-bordered table-striped">
    <tr>
      <th>
        <%= :delete.l %>
      </th>
      <th>
        <%= :author.l %>
      </th>
      <th width="50%">
        <%= :body_text.l %>
      </th>
      <th>
        <%= :on_commentable.l %>
      </th>
      <th>
        <%= :actions.l %>
      </th>
    </tr>
    <% @comments.each do |comment| %>
      <tr id="comment-<%= comment.id %>">
        <td>
          <%= check_box_tag "delete[]", comment.id %>
        </td>
        <td>
          <div class="left">
            <% if comment.user %>
              <%= link_to h(comment.user.login), user_path(comment.user) %>
              <br/>
              <small>
                <%= comment.user.email %>
              </small>
            <% else %>
              <%= link_to_unless(comment.author_url.blank?, h(comment.username), h(comment.author_url)){ h(comment.username) } %>
              <br/>
              <small>
                <%= comment.author_email %>
              </small>
              <br/>
              <small>
                <%= "(#{comment.author_url})" %>
              </small>
            <% end %>
          </div>
        </td>
        <td style="overflow:hidden;">
          <%= comment.comment.html_safe %>
        </td>
        <td>
          <% if comment.commentable_name.blank? %>
            <%= link_to comment.commentable_type, commentable_url(comment) %>
          <% else %>
            <%= link_to comment.commentable_name, commentable_url(comment) %>
          <% end %>
        </td>
        <td>
          <%= link_to :delete.l, commentable_comment_path(comment.commentable_type, comment.commentable_id, comment), :method => :delete, :remote => true, :data => { :confirm => :are_you_sure_you_want_to_permanently_delete_this_comment.l }, :class => 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
  <% if @comments.any? %>
    <p>
      <a class="btn btn-default check-all" href="#">Toggle all</a>
      <%= submit_tag :delete_selected.l, :class => 'btn btn-danger' %>
    </p>
  <% end %>
<% end %>
<%= paginate @comments, :theme => 'bootstrap' %>
